<a href="https://colab.research.google.com/github/Zegoverno/Maua_IoT_Vivo/blob/master/estudo_imab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ESTUDO POSIÇÃO EM IMAB EM RELAÇÃO AO CDI E OPERACIONALIZAÇÃO DA MESMA ESTRATÉGIA ALANCADA EM 3X

In [1]:
!pip install --upgrade zenfin
import pandas as pd
import numpy as np
import tabulate as tab
import math
from zenfin import (
    utils as u,
    stats as s,
    reports as r
)

Requirement already satisfied: zenfin in /usr/local/lib/python3.7/dist-packages (0.5.23)

In [3]:
url = 'https://raw.githubusercontent.com/teracapital/tera/main/precos.csv?token=ABXSK4FJ7G3BNTOWZOQ25X3BZIORQ'
df_copy = pd.read_csv(url)

In [4]:
df = df_copy.copy()
df = df.dropna()
df["Date"] = pd.to_datetime(df['Date'])
df = df.set_index('Date')
df = df.sort_index()

In [5]:
df

                  B5       B5+         B        DI     IHFA
Date
2007-09-28  1485.017  1724.495  1543.469  1.000418   982.51
2007-10-01  1487.414  1729.508  1546.812  1.000418   984.08
2007-10-02  1487.609  1731.424  1547.659  1.000418   984.05
2007-10-03  1487.339  1730.447  1547.125  1.000418   983.49
2007-10-04  1487.192  1728.644  1546.347  1.000418   983.59
...              ...       ...       ...       ...      ...
2021-12-02  7245.944  9432.687  8005.522  1.000293  3979.51
2021-12-03  7275.176  9517.631  8057.475  1.000293  4002.43
2021-12-06  7267.395  9504.533  8047.633  1.000293  4019.49
2021-12-07  7263.536  9542.419  8061.357  1.000293  4019.49
2021-12-08  7273.688  9598.791  8090.664  1.000293  4019.49

[3564 rows x 5 columns]

In [6]:
df['DIr'] = df['DI'] -1
df['DI'] = np.power(1+df['DIr'], 252) -1

In [7]:
for c in df:
  if 'DI' not in c:
    df[c+"r"] = u.to_returns(df[c])

In [8]:
u.clean(df)

                  B5       B5+         B  ...      B5+r        Br     IHFAr
Date                                      ...
2007-09-28  1485.017  1724.495  1543.469  ...  0.000000  0.000000  0.000000
2007-10-01  1487.414  1729.508  1546.812  ...  0.002907  0.002166  0.001598
2007-10-02  1487.609  1731.424  1547.659  ...  0.001108  0.000548 -0.000030
2007-10-03  1487.339  1730.447  1547.125  ... -0.000564 -0.000345 -0.000569
2007-10-04  1487.192  1728.644  1546.347  ... -0.001042 -0.000503  0.000102
...              ...       ...       ...  ...       ...       ...       ...
2021-12-02  7245.944  9432.687  8005.522  ...  0.004230  0.003087  0.000000
2021-12-03  7275.176  9517.631  8057.475  ...  0.009005  0.006490  0.005760
2021-12-06  7267.395  9504.533  8047.633  ... -0.001376 -0.001221  0.004262
2021-12-07  7263.536  9542.419  8061.357  ...  0.003986  0.001705  0.000000
2021-12-08  7273.688  9598.791  8090.664  ...  0.005908  0.003635  0.000000

[3564 rows x 10 columns]

In [9]:
def percent_string(number, dec):
  return str(round(number*100, dec))+'%'

In [10]:
table=[]
date_beg = df.index.min().strftime('%d-%m-%y')
date_end = df.index.max().strftime('%d-%m-%y')
header = [date_beg+' to '+date_end]
for c in df:
  if "r" in c:
    header.append(c.strip('r'))
line = ['HPR']
for c in df:
  if "r" in c:
    line.append(s.total_return(df[c]))
table.append(line)

In [11]:
print(tab.tabulate(table, headers=header))

28-09-07 to 08-12-21         DI       B5      B5+        B     IHFA
----------------------  -------  -------  -------  -------  -------
HPR                     2.44033  3.89805  4.56615  4.24187  3.09104

In [12]:
for i in dir(s):
  if "__" not in i: 
    print(i)

adjusted_sortino
alpha
autocorr_penalty
avg_loss
avg_return
avg_win
best
beta
cagr
common_sense_ratio
conditional_value_at_risk
consecutive_losses
consecutive_wins
cpc_index
expected_return
exponential_stdev
gain_to_pain_ratio
implied_volatility
information_ratio
kelly_criterion
kurtosis
linregress
max_drawdown
norm
np
omega
outlier_loss_ratio
outlier_win_ratio
outliers
payoff_ratio
pd
profit_factor
profit_ratio
r_squared
rar
recovery_factor
risk_of_ruin
risk_return_ratio
rolling_greeks
rolling_returns
rolling_sharpe
rolling_sortino
rolling_volatility
serenity_index
sharpe
skew
sortino
sqrt
tail_ratio
total_return
ulcer_index
ulcer_performance_index
utils
value_at_risk
volatility
win_rate
worst

In [17]:
dr = pd.DataFrame()
dr[['B5', 'B', 'B5+', 'DI', 'IHFA']] = df[['B5r', 'Br', 'B5+r', 'DIr', 'IHFAr']]
rf = df['DI']

In [18]:
dr, rf

(                  B5         B       B5+        DI      IHFA
 Date
 2007-09-28       NaN       NaN       NaN  0.000418       NaN
 2007-10-01  0.001614  0.002166  0.002907  0.000418  0.001598
 2007-10-02  0.000131  0.000548  0.001108  0.000418 -0.000030
 2007-10-03 -0.000181 -0.000345 -0.000564  0.000418 -0.000569
 2007-10-04 -0.000099 -0.000503 -0.001042  0.000418  0.000102
 ...              ...       ...       ...       ...       ...
 2021-12-02  0.001974  0.003087  0.004230  0.000293  0.000000
 2021-12-03  0.004034  0.006490  0.009005  0.000293  0.005760
 2021-12-06 -0.001070 -0.001221 -0.001376  0.000293  0.004262
 2021-12-07 -0.000531  0.001705  0.003986  0.000293  0.000000
 2021-12-08  0.001398  0.003635  0.005908  0.000293  0.000000

 [3564 rows x 5 columns], Date
 2007-09-28    0.111199
 2007-10-01    0.111199
 2007-10-02    0.111199
 2007-10-03    0.111099
 2007-10-04    0.111099
                 ...
 2021-12-02    0.076499
 2021-12-03    0.076499
 2021-12-06    0.076499
 2021-12-07    0.076499
 2021-12-08    0.076499
 Name: DI, Length: 3564, dtype: float64)

In [19]:
def rar(returns, rf=0., periods=252):
    """
    Calculates the risk-adjusted return of access returns
    (CAGR / exposure. takes time into account.)
    """
    excess_returns = u.to_excess_returns(returns, rf, periods)
    return s.cagr(excess_returns) / u.exposure(excess_returns)

In [25]:
s.serenity_index(dr.drop(['DI'], axis=1), rf)

B5      437.960906
B       218.874877
B5+     173.581739
IHFA    147.138461
dtype: float64

In [377]:
def beta(returns, benchmark ):
  """Calculates beta of the portfolio"""
  # find covariance
  frames = [returns, benchmark]
  df = pd.concat(frames, axis=1)
  matrix = df.cov()
  res = {}
  for c in returns:
    res[c] = matrix[c].iloc[-1]/ matrix.iloc[-1,-1]
  return pd.DataFrame(res, index=[0])

def alpha(returns, benchmark, periods=252):
  """Calculates alpha of the portfolio"""

  # find beta
  _beta = beta(returns, benchmark)
  # calculates measures now
  alpha = returns.mean() - _beta * benchmark.mean()
  return alpha * periods

def rolling_greeks(returns, benchmark, periods=252):
  """Calculates rolling alpha and beta of the portfolio"""
  frames = [returns, benchmark]
  df = pd.concat(frames, axis=1)
  df.columns = [*df.columns[:-1], 'benchmark']
  df = df.fillna(0)
  corr = df.rolling(int(periods)).corr().unstack()['benchmark'].drop('benchmark', axis=1)
  std = df.rolling(int(periods)).std()
  beta = pd.DataFrame()
  alpha = pd.DataFrame()
  for c in returns:
    beta[c] = corr[c] * std[c] / std['benchmark']
    alpha[c] = df[c].mean() - beta[c] * df['benchmark'].mean()
  return pd.concat([beta,alpha],axis=1,keys=['beta','alpha']).swaplevel(0,1,axis=1).sort_index(axis=1).fillna(0)

In [378]:
rolling_greeks(dr[['B5']], dr['IHFA'])

                  B5
               alpha      beta
Date
2007-09-28  0.000000  0.000000
2007-10-01  0.000000  0.000000
2007-10-02  0.000000  0.000000
2007-10-03  0.000000  0.000000
2007-10-04  0.000000  0.000000
...              ...       ...
2021-12-02  0.000364  0.208730
2021-12-03  0.000363  0.211847
2021-12-06  0.000365  0.207853
2021-12-07  0.000365  0.206161
2021-12-08  0.000365  0.206524

[3564 rows x 2 columns]